.container {
  text-align: left;
  align-self: flex-start;
  margin-left: 5%;
}

.colorBullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 5px;
}

.container ul p {
  margin: 0.5rem 0;
}

.container li {
  list-style-type: none;
}

.categories {
  padding-left: 0;
  font-size: 1.3rem;
}

.categories > li {
  margin-top: 1rem;
}

.continents {
  padding-left: 1.2rem;
  font-size: 1.2rem;
}

.countries {
  padding-left: .6rem;
  font-size: 1.1rem;
}

.cities {
  padding-left: .6rem;
  font-size: 1rem;
}