.container {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

/*
.container input {
  height: 2.2rem;
  width: 90%;
  border-radius: .2rem;
  border: 1px solid black;
  padding-left: .5rem;
}
*/

.container > .buttonDiv {
  margin-top: .5rem;
  text-align: left;
}

.container > .buttonDiv > button {
  font-size: 1rem;
}