.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ECECEC;
  width: 20rem;
  flex: 1 0;
  height: 96%;
  margin: 0 1rem;
  border-radius: .5rem;
  align-items: center;
}